
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px
}

.album{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

