h2 {
    text-align: center;
    font-size: x-large;
    /* padding: 50px; */
    /* border: 2px solid red; */
    margin-top: 40px
}



img {
    width: 300px;
    box-shadow: 0 0.2rem 1.2rem gray;
    margin: 20px
  }
  
.about {
    display: grid;
    justify-items: center;
    padding: 30px;
    gap: 20px;
}

.homepage{
    display:flex;
    justify-content: space-between;
    gap:20px;
    /* border: 2px solid red; */
}
