.title{
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    gap: 40px;
    margin-left: 300px;

}

.current {
    color: teal;
}
