section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}


h3{
    font-style: italic;
}

li{
    margin:20px;

}

.container{
    margin: 50px
}


h2 {
    padding: 0px
}


li{
    /* background-color: grey; */
   padding: 15px;
    border-bottom: 1px solid teal;
}

.albumImage{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
